@model FineDine.Models.Establishment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Establishment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishmentDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingHours)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
