@model FineDine.Models.Establishment

@{
    ViewBag.Title = "Details";
}

<div class="container" style="padding: 0 15px 50px 15px">
    <div class="col-md-8">
        <h1 class="page-header">
            @Html.DisplayFor(model => model.Name)
            <small>
                @Html.DisplayFor(model => model.Location.City),
                @Html.DisplayFor(model => model.Location.Country)
            </small>
        </h1>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <div class="col-lg-3 col-md-3 col-sm-3 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 thumb">
            <a class="thumbnail" href="#">
                <img class="img-responsive" src="http://placehold.it/400x300" alt="">
            </a>
        </div>
        <p class="finedine-text"> @Html.DisplayFor(model => model.Description)</p>
        <small class="links">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </small>

        <!-- Third Blog Post -->
        <h2>
            <a href="#">Blog Post Title</a>
        </h2>
        <p class="lead">
            by <a href="index.php">Start Bootstrap</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
        <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <p>@Html.DisplayFor(model => model.Description)</p>
        <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
        <hr>
        Load more...

        <!-- COMMENTS inace se generiraju iz baze, ali za sada su hardcodirani-->
        <h3>Users' comments:</h3>
        <div class="media">
            <div class="media-left">                
                    <img class="media-object" src="http://placehold.it/80x80" alt="placeholder">               
            </div>
            <div class="media-body">
                <h4 class="media-heading">jjozic12</h4>
                <span class="ratingLabel">Ocjena: </span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span><br/>                
                Odličan restoran, djevojka i ja smo dosta jeftino prošli za meni od tri slijeda.<br/>                
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <img class="media-object" src="http://placehold.it/80x80" alt="placeholder">
            </div>
            <div class="media-body">
                <h4 class="media-heading">mseric65</h4>
                <span class="ratingLabel">Ocjena: </span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span><br/>
                Lokacija odlična, jela imaju dobar omjer cijene i kvalitete. Ocjena manje radi prevelike buke.<br />
            </div>
        </div>
        
        
</div>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4" style="margin-top:150px;">
        <!-- Side Widget Well -->
        <div class="well">
            <h4>Additional information:</h4>
            <p class="finedine-text">
                Adress: @Html.DisplayFor(model => model.Address)
                <br />
                City: @Html.DisplayFor(model => model.Location.PostCode) @Html.DisplayFor(model => model.Location.City)
                <br/>
                Owner: @Html.DisplayFor(model => model.Owner.UserName)
                <br />
                Working hours: @Html.DisplayFor(model => model.WorkingHours)
                <br />
                <p class="main-rating"> @Html.DisplayFor(model => model.MainRating) / 5.0 </p>
            </p>
        </div>
    </div>
</div>
