@model IEnumerable<FineDine.Models.Establishment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusinessUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstablishmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstablishmentDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingHours)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusinessUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstablishmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstablishmentDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingHours)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
