@model IEnumerable<FineDine.Models.Establishment>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="container" style="padding: 50px 15px 50px 15px">

        <h2>Your establishments</h2>

        <p class="links">
            @Html.ActionLink("Create New", "Create")
        </p>
        

            @foreach (var item in Model)
            {
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="~/img/restaurant_icon.jpg" alt="Restaurant icon">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading links">@Html.ActionLink(item.Name, "Details", new { id = item.Id })</h4>
                        @Html.DisplayFor(modelItem => item.Address)<br/>
                        Main rating: @Html.DisplayFor(modelItem => item.MainRating)
                    </div>
                    <div class="media-right links">
                        <span>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</span>
                        <span>@Html.ActionLink("Details", "Details", new { id = item.Id })</span>
                        <span>@Html.ActionLink("Delete", "Delete", new { id = item.Id })</span>
                    </div>
                </div>
                <hr/>               
            }

        <nav class="center-align">
            <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>                
                <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
        
    </div>
</div>