@model IEnumerable<FineDine.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Establishment.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Establishment.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
